@charset "UTF-8";
body a{
    text-decoration: none;
}
.header_container{
    display:flex;
    flex-direction:row;
    flex:1;
    justify-content:space-between;
    background: #FFFFFF;
    height: 120px;
}
nav ul{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    flex:1;
}
ul li{
    list-style: none;
}
ul li:hover{
    transform: scale(1.2);
}
ul li a{
    text-decoration:none;
    margin: 10px 10px 10px 10px;
    color: #545454;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}
#underline{
    text-decoration:underline;
    text-decoration-thickness: 3px;
    text-decoration-color: bisque;
}
h1{
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 110%;
letter-spacing: 0.06em;
color: #545454;
}
.header_container div div{
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
color: #292929;
}

/* START PAGE STARTS HERE*/
.start_page{
    display:flex;
    flex-direction:column;
    align-items:center;
    flex:1;
    background-color: #F6F6F6;
    height: 1342px;
}
.start_page h3{
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
text-align: center;
letter-spacing: 0.06em;
color: #545454;
}
.first_line{
    display:flex;
    flex-direction:row;
    flex:1;
    justify-content: space-evenly;
}
.first_line div{
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
}
.first_line div:hover{
    transform: scale(1.01);
    background-color: #dfbebe;
    cursor: pointer;
}
.first_line div:hover button {
    background-color:#c4bcbc;
    cursor:pointer;
}
.first_line div button{
    margin-top: 35px;
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}
.first_line span{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top:15px;
}
.second_line{
    display:flex;
    flex-direction:row;
    flex:1;
    justify-content: space-evenly;
}
.second_line div{
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
}
.second_line div:hover{
    transform: scale(1.01);
    background-color: #dfbebe;
    cursor:pointer;
}
.second_line div:hover button {
    background-color:#c4bcbc;
    cursor:pointer;
}
.second_line div button{
    margin-top: 35px;
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}
.second_line span{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top:15px;
}
/*#katrine{
    order:0;
}
#jennifer{
    order:1;
}
#woody{
    order:2;
}
#sophia{
    order:3;
}
#timmy{
    order:0;
}
#charly{
    order:1;
}
#scarlett{
    order:2;
}
#freddie{
    order:3;
}*/

.pagination{
    border-radius: 100px;
    width: 52px;
    height: 52px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    margin-bottom:30px;

    border: 2px solid #F1CDB3;
    color: #292929;
    cursor:pointer;

}
#numeration_button{
    background-color: #F1CDB3;
    border: 2px solid #F1CDB3;
}
#active_button{
   /* border: 2px solid #F1CDB3;*/
    color: #292929;
   /* cursor:pointer;*/

    border-radius: 100px;
    width: 52px;
    height: 52px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    margin-bottom:30px;

}
#second_active_button{
    
    color: #292929;
   

    border-radius: 100px;
    width: 52px;
    height: 52px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    margin-bottom:30px;

}
#pagination-left-one{
    color: #292929;
   

    border-radius: 100px;
    width: 52px;
    height: 52px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    margin-bottom:30px;
}
#pagination-left-two{
    color: #292929;
   

    border-radius: 100px;
    width: 52px;
    height: 52px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    margin-bottom:30px;
}
/* FOOTER*/
footer{
    display:flex;
    flex-direction:row;
    background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    height: 350px;
    justify-content: space-evenly;
}
footer h3{
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
color: #FFFFFF;
}
.footer_items{
    display:flex;
    flex-direction:column;
    align-items:stretch;
}
.footer_text{
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;

letter-spacing: 0.06em;
margin-bottom: 30px;
color: #F1CDB3;
}
/*popup*/
.window{
    width: 952px;
    height: 552px;
    background-color: transparent;

    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display:grid;
    grid-template-columns: auto auto;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    z-index:10;
}
.windowbtn{
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    align-self: start;
    cursor: pointer;
}
.windowelem{
    width: 900px;
    height: 500px;
    background-color: #FAFAFA;
    border-radius: 9px;
    align-self:end;
    border:1px solid black;
    display:grid;
    grid-template-columns: auto auto;
    padding-right: 20px;
    padding-top: 30px;
}
.content{
    width: 351px;
    height: 362px;
    display:grid;
    margin-left:509px;
    font-family: 'Georgia';
    font-style: normal;
}
.content li{
    list-style: none;
    margin:10px 10px 10px 10px;
}
.content li::before{
    content: "• ";
    color: #F1CDB3;
}
#overlay{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
}
