@media all and (min-width:320px) and (max-width:767px){
    .header_container{
        width: 320px;
        height: 120px;
    }
    .logo{
        width: 200px;
        height: 60px;
        font-size:32px;
    }
    .bar{
        display:block;
        width: 30px;
        height: 0px;
        border: 2px solid #000000;
        margin:3.7px auto;
        -webkit-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
    }
    .hamburger{
        display:block;
        cursor:pointer;
        margin-top:33px;
        margin-right: 80px;
    }
    .hamburger.active .bar:nth-child(2){
        opacity:0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position:fixed;
        left:-200%;
        top:70px;
        gap:0;
        display:flex;
        flex-direction: column;
        width:310px;
        background-color: #262626;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin:16px 0;
    }
    .nav-menu.active{
        left:0;
    }
    /*start page*/
    .start_page{
        width:320px;
        height:1680px;
    }
    #sophia{
        display: none;
    }
    #charly{
        display:none;
    }
    #timmy{
        display:none;
    }
    #scarlett{
        display:none;
    }
    #freddie{
        display:none;
    }
    .first_line{
        flex-direction: column;
    }
    .first_line:nth-child(1){
        margin-bottom: 10px;
    }
    /*footer*/
    #contacts{
        width:320px;
        height:809px;
        flex-direction: column;
    }
    #footer_puppy img{
        width: 260px;
        height: 269px;
    }
}